#########################
##### ECLIPSE Files######
/.settings/**
.project
.classpath


##############################
######## Git files ###########
#############################
/.git/**


##############################
######### Maven files ########
##############################
/target/**


#############################
######## IntelliJ Files #####
#############################
/.idea/**
*.iml